body {
    font-family: Josefin Sans;
    margin: 0;
    padding: 0;
    background-color: #7CE7FF;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto 105px;
    grid-template-areas: "header" "main" "footer";
    width: 100%;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #0C4653;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Josefin Sans;
    font-size: 28px;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between 10px and 20px;
}

footer {
    grid-area: footer;
    background-color: #0C4653;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Josefin Sans;
    color: white;
    font-size: 15px;
}

button {
    background-color: #188198;
    border: none;
    font-family: Josefin Sans;
    color: white;
    border-radius: 0.6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 30px;
    width: 250px; /*imposta la larghezza*/
    height: 100px; /*imposta l'altezza*/
    box-sizing: border-box; /*includi le dimensioni del bordo e della padding nella dimensione del bottone*/
    cursor: pointer;

}

.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 0.4rem;
}
